google-api-python-client==2.155.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
httpx==0.28.1
qdrant-client==1.12.1
unstructured[pdf,docx,xlsx,pptx,md]==0.16.13
python-magic==0.4.27
tenacity==9.0.0
